# EditorConfig is awesome: http://EditorConfig.org

# When opening a file, EditorConfig plugins look for a file named .editorconfig
# in the directory of the opened file and in every parent directory. A search
# for .editorconfig files will stop if the root filepath is reached or an
# EditorConfig file with root=true is found.
#
# EditorConfig files are read top to bottom and the closest EditorConfig files
# are read last. Properties from matching EditorConfig sections are applied in
# the order they were read, so properties in closer files take precedence.
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.{js,json,clj,rb,scala,java,kt,yml,yaml}]
indent_size = 2
indent_style = space

# 4 space indentation for Python (PEP-8)
[*.py]
indent_size = 4
indent_style = space

# Tab indentation (no size specified) for Makefiles
[Makefile]
indent_style = tab
