[user]
	name = Ronny Haryanto
	email = ronny@haryan.to
	signingkey = 72701F1041D8433D
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[alias]
        co = checkout
        ci = commit
        st = status -sb
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
	excludesfile = /Users/ronny/.gitignore_global
	autocrlf = input
	safecrlf = false
[merge]
	tool = kdiff3
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
[diff]
	algorithm = patience
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[commit]
	template = /Users/ronny/.stCommitMsg
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[gpg]
	program = /usr/local/bin/gpg
